@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
    background-color: #fcfaf2;
}

.container {
    margin-top: 100px;
}

.logo {
    margin-bottom: 50px;
}

.meta {
    font-size:0.9em;
    color: #b3b3b3;
    a {
        color: #b3b3b3;
    }
}

.price {
    color: #cb1b45;
}

hr {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #dcebf5;
}
